*{
  margin: 0;
  padding: 0;
}

p {
  width: 300px;
  height: 20px;
  line-height: 20px;
  /* border: 1px solid black; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  display: inline-block;
  width: 190px;
  /* height: 90px; */

  height: 0px;
  padding-top: 90px;
  overflow: hidden;

  background: url(https://gw.alicdn.com/imgextra/i3/O1CN01uRz3de23mzWofmPYX_!!6000000007299-2-tps-143-59.png);
  background-size: 190px 90px;
  border: 1px solid black;

  /* text-indent: 190px;
  white-space: nowrap;
  overflow: hidden; */

}